<div class="card-body mt-2">
    {{ form_start(form) }}
    <div class="d-flex flex-column align-items-center">
        <div class="card-body">
            <div class="form-group ">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>