{% extends 'home.html.twig' %}

{% block title %} New Category {% endblock %}

{% block content %}
    <div class="card text-dark bg-light mb-3">
        <div class="card-header d-flex justify-content-between">
            <h3>New Category</h3>
            <a class="btn btn-danger" href="{{ path('list_categories') }}" role="button"><< Back</a>
        </div>
        {% include 'category/form.html.twig' %}
    </div>
{% endblock %}
